.hero-img {
    padding-right: 40px;
    background-image: linear-gradient(rgba(120, 117, 117, 0.5), rgba(0,0,0, 0.7)), url(electronic-devices-1.jpg); 
    opacity: 80%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
    width: 100% ;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 4px;
    padding: 260px;
    box-shadow: 5px 7px 7px gray;

}

.hero-img .herotext {
    color: #fff ;
    text-align: center
}

.herotext h1{
    font-size: 50px;
    font-weight: 500;
}

.herotext p{
    font-size: 50px;
    font-weight: 500;
    line-height: 10px;
}

.aboutbtn{

    text-decoration: none;
    color: #fff;
    background: rgb(31, 187, 244);
    padding: 15px;
    border-radius: 10px;
    margin-top: 10px;
    display: inline-block;
}



@media screen and (min-width:390px) and (max-width: 700px){
   

  
    
    
    .herotext h1{

        margin-top: -150px;
            
    }

    .herotext h2{
        display: none 
       }
    

    .herotext p{
      font-size: 50px;
    }
}


